<!DOCTYPE html>
<html>
  <head>
    <title>Hey - Backend</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <% if user_signed_in? %>
        <div class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">

          <%= render partial:  "layouts/shared/top-nav" %>

          <%= render partial: "layouts/shared/sidebar" %>

          <div class="content-wrapper">
            <section class="content-header">
              <h1>
                Page Header
                <small>Optional description</small>
              </h1>
              <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
              </ol>
            </section>

            <section class="content container-fluid">
                <% if user_signed_in? %>
                  <% if notice != nil  %>
                    <div class="notice alert alert-info alert-dismissible">
                        <h4><i class="icon fa fa-info"></i> Login</h4>
                      <%= notice %>
                    </div>
                    <% end %>
                
                <% end %>

                <%= yield %>
            </section>
          </div>

          <footer class="main-footer">
              <div class="pull-right hidden-xs">
                Anything you want
              </div>

              <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
            </footer>

          <%= render partial: "layouts/shared/control-sidebar" %>

        </div>
      </div>
    <% else %>
      <body class="hold-transition login-page">
        <% if alert != nil %>
          <div class="alert alert-warning alert-dismissible">
              <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            <%= alert %>
          </div>
        <% end %>

        <%= render partial: "layouts/shared/login" %>
      </div>
    <% end %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
